# .gitignore

# Ignore live cert symlinks and sensitive keys
gitlms/certbot/conf/live/
gitlms/certbot/conf/archive/
gitlms/certbot/conf/renewal/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd
