{% extends 'dashboard.html' %} 
{% block content %} 
{% load static %}

<link rel="stylesheet" href="{% static 'css/commChat.css' %}" />

<!-- Chatbox Container -->
<div class="chatbox-container bg-white shadow-2xl w-full h-[calc(100vh-100px)] flex flex-col">

  <!-- Chat Header (Fixed at top of chat box) -->
  <div class="sticky bg-white border-t z-20" style="top:7.55%">
  {% include 'commChatComponents/chatHeader.html' %}
</div>
  <!-- Chat Messages (Scrollable area) -->
  <div id="chat-messages" class="flex-1 overflow-y-auto p-4 space-y-2">
             {%for chatmessage in chatMessages %}
             {%if chatmessage.sender.id != request.user.id %}
             {%include 'commChatComponents/senderText.html' %}
             {% else %}
             {%include 'commChatComponents/recieverText.html' %}
             {%endif%}
             {%endfor%}
  </div>

  <!-- Input Form (Sticky at bottom) -->
  <div class="sticky  bg-white border-t z-20" style="bottom: 5.7%">
    {% include 'commChatComponents/inboxForm.html' %}
  </div>

</div>
<script >
  const ins_id={{institute.id}};
    const currentUserId = "{{ request.user.id }}"; // Expose Django user ID to JS
    const currentUserName = "{{ request.user.get_full_name }}";
    const currentUserAvatar = "{{ request.user.profilepicture.url }}";
  
  
</script>
<script src="{% static "js/chatPush.js" %}"></script>
<script src="{% static "js/commChat.js" %}"></script>

{% endblock %}
