Django == 5.2
channels==4.2.0
daphne== 4.1.2
user-agents==2.2.0
django-redis==5.4.0
channels==4.2.0
channels_redis==4.2.1
psycopg2-binary==2.9.10
pillow==10.2.0
gunicorn==23.0.0
django-elasticsearch-dsl==8.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
elastic-transport==8.17.1
elasticsearch==8.18.1
elasticsearch-dsl==8.18.0
django-environ==0.12.0
django-allauth==65.8.0
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
django-cors-headers==4.7.0
qdrant-client==1.14.2
sentence-transformers==4.1.0